.jumbotron{
  padding: 20px ;
}

.cursor-pointer{
  cursor: pointer;
}

.dropdown-menu.show{
  padding: 10px;
}

.sort_selected::after{
  content: "\f00c";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}